* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.AppPage {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.AppPage_wrapper {
  width: 50%;
}
